/* fundo geral */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b, #312e81);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container central */
.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    width: 350px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* título */
h1 {
    color: #8b7cf6;
    text-align: center;
    margin-bottom: 20px;
}

/* labels */
label {
    display: block;
    margin-top: 10px;
}

/* inputs e selects */
input, select {
    background: #f9f9fb;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input:focus, select:focus {
    outline: none;
    border-color: #6c5ce7;
}

/* botão */
button {
    cursor: pointer;
    background: #6c5ce7;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
}

/* hover botão */
button:hover {
    background: #5a4bdc;
}

/* resultado */
.resultado {
    margin-top: 20px;
    background: #f5f6fa;
    padding: 15px;
    border-radius: 10px;
    border-left: 4px solid #6c5ce7;
}