<!DOCTYPE html>
<html>
<head>
    <title>Orçamento de Aluguel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

<div class="container">

    <h1>Simulador de Orçamento</h1>

    <form method="POST" action="/calcular">

        <label>Tipo de imóvel:</label>
        <select name="tipo" id="tipo">
            <option value="apartamento">Apartamento</option>
            <option value="casa">Casa</option>
            <option value="estudio">Estúdio</option>
        </select>

        <br><br>

    <div id="campo_quartos">
        <label>Quartos:</label>
        <input type="number" name="quartos" min="1" max="2">
    </div>

        <br><br>

    <div id="campo_vaga">
        <label>Vaga de garagem:</label>
        <select name="vaga">
            <option value="nao">Não</option>
            <option value="sim">Sim</option>
        </select>
    </div>

        <br><br>

    <div id="campo_crianca">
        <label>Possui crianças?:</label>
        <select name="tem_crianca">
            <option value="nao">Não</option>
            <option value="sim">Sim</option>
        </select>
    </div>

        <br><br>

    <div id="campo_vagas">
        <label>Vagas (estúdio):</label>
        <input type="number" name="vagas" min="0">
    </div>

        <br><br>

        <label>Parcelas (1 a 5):</label>
        <input type="number" name="parcelas" min="1" max="5" required>

        <br><br>

        <button type="submit">Calcular</button>
    </form>
    
    {% if orcamento %}

    <div class="resultado">
        <h2>Resumo do Orçamento</h2>

        <p><strong>Valor do aluguel:</strong> {{ orcamento["aluguel"] }}</p>
        <p><strong>Parcela do contrato:</strong> {{ orcamento["parcela_contrato"] }}(em {{ orcamento["parcelas"] }}x)</p>
        <p><strong>Total mensal:</strong>{{ orcamento["total_mensal"] }}</p>
        <p><strong>Total anual:</strong> {{ orcamento["total_anual"] }}</p>
        </div>

        {% endif %}
</div>

<script>
    const tipoSelect = document.getElementById("tipo");

    const campoQuartos = document.getElementById("campo_quartos");

    const campoVaga = document.getElementById("campo_vaga");
    const campoCrianca = document.getElementById("campo_crianca");

    const campoVagas = document.getElementById("campo_vagas");

    function atualizarCampos(){
        const tipo = tipoSelect.value;

        if (tipo === "apartamento") {
            campoQuartos.style.display = "block";
            campoVaga.style.display = "block";
            campoCrianca.style.display = "block";
            campoVagas.style.display = "none";
        }

        else if (tipo === "casa") {
            campoQuartos.style.display = "block";
            campoVaga.style.display = "block";
            campoCrianca.style.display = "none";
            campoVagas.style.display = "none";
        }

        else if (tipo === "estudio") {
            campoQuartos.style.display = "none";
            campoVaga.style.display = "none";
            campoCrianca.style.display = "none";
            campoVagas.style.display = "block";
        }
    }

tipoSelect.addEventListener("change", atualizarCampos);

    window.onload = atualizarCampos;
</script>

</body>
</html>